In [1]:
# Dependencies
import pandas as pd
import re

In [2]:
#url = f'http://www.espn.com/nfl/powerrankings/_/year/{year}/week/{week}'
url = 'https://www.pro-football-reference.com/years/2007/games.htm'

In [3]:
tables = pd.read_html(url)
tables

[          Week  Day         Date     Time            Winner/tie Unnamed: 5  \
 0            1  Thu  September 6   8:39PM    Indianapolis Colts        NaN
 1            1  Sun  September 9  12:59PM     Carolina Panthers          @
 2            1  Sun  September 9   1:00PM     Minnesota Vikings        NaN
 3            1  Sun  September 9   1:02PM   Washington Redskins        NaN
 4            1  Sun  September 9   1:02PM        Denver Broncos          @
 ..         ...  ...          ...      ...                   ...        ...
 279   Division  Sun   January 13   1:06PM    San Diego Chargers          @
 280   Division  Sun   January 13   4:45PM       New York Giants          @
 281  ConfChamp  Sun   January 20   3:05PM  New England Patriots        NaN
 282  ConfChamp  Sun   January 20   6:42PM       New York Giants          @
 283  SuperBowl  Sun   February 3   6:30PM       New York Giants          N

                 Loser/tie Unnamed: 7 PtsW PtsL YdsW TOW YdsL TOL
 0      New Orleans Saints   boxscore   41   10  452   1  293   3
 1          St. Louis Rams   boxscore   27   13  385   2  238   2
 2         Atlanta Falcons   boxscore   24    3  302   1  265   2
 3          Miami Dolphins   boxscore   16   13  400   2  273   1
 4           Buffalo Bills   boxscore   15   14  470   1  184   1
 ..                    ...        ...  ...  ...  ...  ..  ...  ..
 279    Indianapolis Colts   boxscore   28   24  411   1  446   3
 280        Dallas Cowboys   boxscore   21   17  230   0  336   1
 281    San Diego Chargers   boxscore   21   12  347   3  311   2
 282     Green Bay Packers   boxscore   23   20  377   1  264   2
 283  New England Patriots   boxscore   17   14  338   1  274   1

 [284 rows x 14 columns]]

In [4]:
tables[0]

,Week,Day,Date,Time,Winner/tie,Unnamed: 5,Loser/tie,Unnamed: 7,PtsW,PtsL,YdsW,TOW,YdsL,TOL
0,1,Thu,September 6,8:39PM,Indianapolis Colts,NaN,New Orleans Saints,boxscore,41,10,452,1,293,3
1,1,Sun,September 9,12:59PM,Carolina Panthers,@,St. Louis Rams,boxscore,27,13,385,2,238,2
2,1,Sun,September 9,1:00PM,Minnesota Vikings,NaN,Atlanta Falcons,boxscore,24,3,302,1,265,2
3,1,Sun,September 9,1:02PM,Washington Redskins,NaN,Miami Dolphins,boxscore,16,13,400,2,273,1
4,1,Sun,September 9,1:02PM,Denver Broncos,@,Buffalo Bills,boxscore,15,14,470,1,184,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
279,Division,Sun,January 13,1:06PM,San Diego Chargers,@,Indianapolis Colts,boxscore,28,24,411,1,446,3
280,Division,Sun,January 13,4:45PM,New York Giants,@,Dallas Cowboys,boxscore,21,17,230,0,336,1
281,ConfChamp,Sun,January 20,3:05PM,New England Patriots,NaN,San Diego Chargers,boxscore,21,12,347,3,311,2
282,ConfChamp,Sun,January 20,6:42PM,New York Giants,@,Green Bay Packers,boxscore,23,20,377,1,264,2
283,SuperBowl,Sun,February 3,6:30PM,New York Giants,N,New England Patriots,boxscore,17,14,338,1,274,1

In [5]:
df_table = tables[0]
cols = [1,2,3,5,7]
df_table.drop(df_table.columns[cols],axis=1,inplace=True)
df_table

,Week,Winner/tie,Loser/tie,PtsW,PtsL,YdsW,TOW,YdsL,TOL
0,1,Indianapolis Colts,New Orleans Saints,41,10,452,1,293,3
1,1,Carolina Panthers,St. Louis Rams,27,13,385,2,238,2
2,1,Minnesota Vikings,Atlanta Falcons,24,3,302,1,265,2
3,1,Washington Redskins,Miami Dolphins,16,13,400,2,273,1
4,1,Denver Broncos,Buffalo Bills,15,14,470,1,184,1
...,...,...,...,...,...,...,...,...,...
279,Division,San Diego Chargers,Indianapolis Colts,28,24,411,1,446,3
280,Division,New York Giants,Dallas Cowboys,21,17,230,0,336,1
281,ConfChamp,New England Patriots,San Diego Chargers,21,12,347,3,311,2
282,ConfChamp,New York Giants,Green Bay Packers,23,20,377,1,264,2
283,SuperBowl,New York Giants,New England Patriots,17,14,338,1,274,1