In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st

# Study data files
data1 = "../Data/nfl odds 2007-08.csv"
data2 = "../Data/nfl odds 2008-09.csv"
data3 = "../Data/nfl odds 2009-10.csv"
data4 = "../Data/nfl odds 2010-11.csv"
data5 = "../Data/nfl odds 2011-12.csv"
data6 = "../Data/nfl odds 2012-13.csv"
data7 = "../Data/nfl odds 2013-14.csv"
data8 = "../Data/nfl odds 2014-15.csv"
data9 = "../Data/nfl odds 2015-16.csv"


# Read the nfl data
data1 = pd.read_csv(data1)
data2 = pd.read_csv(data2)
data3 = pd.read_csv(data3)
data4 = pd.read_csv(data4)
data5 = pd.read_csv(data5)
data6 = pd.read_csv(data6)
data7 = pd.read_csv(data7)
data8 = pd.read_csv(data8)
data9 = pd.read_csv(data9)

In [2]:
data1

,Date,Rot,VH,Team,1st,2nd,3rd,4th,Final,Open,Close,ML,2H
0,906,301,V,NewOrleans,0,10,0,0,10,50.5,52.5,200,24.5
1,906,302,H,Indianapolis,7,3,14,17,41,5.5,5.5,-240,3.5
2,909,405,V,KansasCity,0,0,3,0,3,pk,37.5,170,17
3,909,406,H,HoustonTexans,0,10,7,3,20,38.5,3,-200,pk
4,909,407,V,Denver,3,3,6,3,15,3,3,-170,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
529,120,304,H,NewEngland,0,14,0,7,21,15,14,-800,7.5
530,120,305,V,NYGiants,3,3,14,0,23,43.5,41,255,20
531,120,306,H,GreenBay,0,10,7,3,20,6.5,7.5,-305,3
532,203,101,N,NYGiants,3,0,0,14,17,55.5,54,400,27.4
533,203,102,N,NewEngland,0,7,0,7,14,13.5,12.5,-500,1.5

In [3]:
data1['Season Start']='2007'
data2['Season Start']='2008'
data3['Season Start']='2009'
data4['Season Start']='2010'
data5['Season Start']='2011'
data6['Season Start']='2012'
data7['Season Start']='2013'
data8['Season Start']='2014'
data9['Season Start']='2015'

data1

,Date,Rot,VH,Team,1st,2nd,3rd,4th,Final,Open,Close,ML,2H,Season Start
0,906,301,V,NewOrleans,0,10,0,0,10,50.5,52.5,200,24.5,2007
1,906,302,H,Indianapolis,7,3,14,17,41,5.5,5.5,-240,3.5,2007
2,909,405,V,KansasCity,0,0,3,0,3,pk,37.5,170,17,2007
3,909,406,H,HoustonTexans,0,10,7,3,20,38.5,3,-200,pk,2007
4,909,407,V,Denver,3,3,6,3,15,3,3,-170,3,2007
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
529,120,304,H,NewEngland,0,14,0,7,21,15,14,-800,7.5,2007
530,120,305,V,NYGiants,3,3,14,0,23,43.5,41,255,20,2007
531,120,306,H,GreenBay,0,10,7,3,20,6.5,7.5,-305,3,2007
532,203,101,N,NYGiants,3,0,0,14,17,55.5,54,400,27.4,2007
533,203,102,N,NewEngland,0,7,0,7,14,13.5,12.5,-500,1.5,2007

In [4]:
data1_reg = data1.drop(data1.index[512:534])
data1_reg = data1_reg.reset_index(drop=True)
data1_reg

,Date,Rot,VH,Team,1st,2nd,3rd,4th,Final,Open,Close,ML,2H,Season Start
0,906,301,V,NewOrleans,0,10,0,0,10,50.5,52.5,200,24.5,2007
1,906,302,H,Indianapolis,7,3,14,17,41,5.5,5.5,-240,3.5,2007
2,909,405,V,KansasCity,0,0,3,0,3,pk,37.5,170,17,2007
3,909,406,H,HoustonTexans,0,10,7,3,20,38.5,3,-200,pk,2007
4,909,407,V,Denver,3,3,6,3,15,3,3,-170,3,2007
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
507,1230,444,H,Oakland,7,3,7,0,17,44.5,41.5,345,20,2007
508,1230,445,V,St.Louis,3,3,13,0,19,48,49.5,210,21,2007
509,1230,446,H,Arizona,3,21,7,17,48,7,6,-250,pk,2007
510,1230,447,V,KansasCity,0,3,0,7,10,35,35.5,185,17,2007
511,1230,448,H,NYJets,0,10,0,0,13,6,4.5,-215,pk,2007

In [ ]:
#put the frames of the different seasons into a list
frames = [data1, data2, data3, data4, data5, data6, data7, data8, data9]

#stack the frames into a single set for analysis
df = pd.concat(frames)
df.head()

In [ ]:
p_dif = []

for i in range(1, df.shape[0], 2):
        home_dif = df['Final'].iloc[i] - df['Final'].iloc[i-1]
        away_dif = df['Final'].iloc[i-1] - df['Final'].iloc[i]
        p_dif.append(away_dif)
        p_dif.append(home_dif)
        
df['Point_Dif'] = p_dif
columns = ['VH', 'Team', 'Final', 'Close', 'Point_Dif']
p_dif_df = df[columns]
p_dif_df.head()