In [1]:
import pandas as pd

In [2]:
game_data = pd.read_csv('game_data.csv')
game_stats = pd.read_csv('game_stats.csv')

In [3]:
cols = [0]
game_stats.drop(game_stats.columns[cols],axis=1,inplace=True)
game_stats

,Week,Date,Winner/tie,Loser/tie,PtsW,PtsL,YdsW,TOW,YdsL,TOL,net_ptsw,net_ptsl,net_ydsw,net_ydsl,net_tovw,net_tovl,Year
0,1,September 6,Indianapolis Colts,New Orleans Saints,41,10,452,1,293,3,0,0,0,0,0,0,2007
1,1,September 9,Carolina Panthers,St. Louis Rams,27,13,385,2,238,2,0,0,0,0,0,0,2007
2,1,September 9,Minnesota Vikings,Atlanta Falcons,24,3,302,1,265,2,0,0,0,0,0,0,2007
3,1,September 9,Washington Redskins,Miami Dolphins,16,13,400,2,273,1,0,0,0,0,0,0,2007
4,1,September 9,Denver Broncos,Buffalo Bills,15,14,470,1,184,1,0,0,0,0,0,0,2007
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2299,17,January 3,San Francisco 49ers,St. Louis Rams,19,16,458,1,364,0,-152,-47,-1433,-1030,4,-3,2015
2300,17,January 3,Carolina Panthers,Tampa Bay Buccaneers,38,10,366,2,386,3,164,-47,724,548,-19,4,2015
2301,17,January 3,Seattle Seahawks,Arizona Cardinals,36,6,354,0,232,3,116,206,1268,1508,-4,-12,2015
2302,17,January 3,Kansas City Chiefs,Oakland Raiders,23,17,339,2,205,1,112,-34,-104,-325,-15,0,2015
2303,17,January 3,Minnesota Vikings,Green Bay Packers,20,13,242,2,350,2,56,52,-260,-302,-5,-5,2015

In [4]:
cols = [0]
game_data.drop(game_data.columns[cols],axis=1,inplace=True)
game_data

,schedule_date,schedule_season,schedule_week,schedule_playoff,team_home,score_home,score_away,team_away,team_favorite_id,spread_favorite,over_under_line,stadium,stadium_neutral,weather_temperature,weather_wind_mph,weather_humidity,weather_detail,Team
0,09/06/2007,2007,1,False,Indianapolis Colts,41,10,New Orleans Saints,IND,-5.5,53.5,RCA Dome,False,72.0,0.0,NaN,DOME,Indianapolis Colts
1,09/09/2007,2007,1,False,Buffalo Bills,14,15,Denver Broncos,DEN,-3.0,37.0,Ralph Wilson Stadium,False,67.0,9.0,80.0,NaN,Denver Broncos
2,09/09/2007,2007,1,False,Cleveland Browns,7,34,Pittsburgh Steelers,PIT,-4.5,36.5,FirstEnergy Stadium,False,71.0,8.0,83.0,NaN,Pittsburgh Steelers
3,09/09/2007,2007,1,False,Dallas Cowboys,45,35,New York Giants,DAL,-6.5,44.5,Texas Stadium,False,85.0,10.0,66.0,NaN,Dallas Cowboys
4,09/09/2007,2007,1,False,Green Bay Packers,16,13,Philadelphia Eagles,PHI,-3.0,42.5,Lambeau Field,False,63.0,8.0,78.0,NaN,Philadelphia Eagles
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2299,01/03/2016,2015,17,False,Indianapolis Colts,30,24,Tennessee Titans,IND,-4.0,39.0,Lucas Oil Stadium,False,72.0,0.0,NaN,DOME,Indianapolis Colts
2300,01/03/2016,2015,17,False,Kansas City Chiefs,23,17,Oakland Raiders,KC,-6.5,43.5,Arrowhead Stadium,False,32.0,7.0,NaN,NaN,Kansas City Chiefs
2301,01/03/2016,2015,17,False,Miami Dolphins,20,10,New England Patriots,NE,-10.0,46.5,Sun Life Stadium,False,78.0,4.0,NaN,NaN,New England Patriots
2302,01/03/2016,2015,17,False,New York Giants,30,35,Philadelphia Eagles,NYG,-3.5,51.0,MetLife Stadium,False,44.0,10.0,NaN,NaN,New York Giants
2303,01/03/2016,2015,17,False,San Francisco 49ers,19,16,St. Louis Rams,LAR,-3.0,38.5,Levi's Stadium,False,57.0,0.0,NaN,NaN,St. Louis Rams

In [5]:
win_list = []

for r in game_data.iterrows():
    if r[1]['score_home'] == r[1]['score_away']:
        win_list.append('blank')
    elif r[1]['score_home'] > r[1]['score_away']:
        win_list.append(r[1]['team_home'])
    else:
        win_list.append(r[1]['team_away'])
        
game_data['Winner/tie'] = win_list
game_data = game_data.rename(columns={"schedule_season": "Year", "schedule_week": "Week", "Team": "Favorite"})
game_data

,schedule_date,Year,Week,schedule_playoff,team_home,score_home,score_away,team_away,team_favorite_id,spread_favorite,over_under_line,stadium,stadium_neutral,weather_temperature,weather_wind_mph,weather_humidity,weather_detail,Favorite,Winner/tie
0,09/06/2007,2007,1,False,Indianapolis Colts,41,10,New Orleans Saints,IND,-5.5,53.5,RCA Dome,False,72.0,0.0,NaN,DOME,Indianapolis Colts,Indianapolis Colts
1,09/09/2007,2007,1,False,Buffalo Bills,14,15,Denver Broncos,DEN,-3.0,37.0,Ralph Wilson Stadium,False,67.0,9.0,80.0,NaN,Denver Broncos,Denver Broncos
2,09/09/2007,2007,1,False,Cleveland Browns,7,34,Pittsburgh Steelers,PIT,-4.5,36.5,FirstEnergy Stadium,False,71.0,8.0,83.0,NaN,Pittsburgh Steelers,Pittsburgh Steelers
3,09/09/2007,2007,1,False,Dallas Cowboys,45,35,New York Giants,DAL,-6.5,44.5,Texas Stadium,False,85.0,10.0,66.0,NaN,Dallas Cowboys,Dallas Cowboys
4,09/09/2007,2007,1,False,Green Bay Packers,16,13,Philadelphia Eagles,PHI,-3.0,42.5,Lambeau Field,False,63.0,8.0,78.0,NaN,Philadelphia Eagles,Green Bay Packers
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2299,01/03/2016,2015,17,False,Indianapolis Colts,30,24,Tennessee Titans,IND,-4.0,39.0,Lucas Oil Stadium,False,72.0,0.0,NaN,DOME,Indianapolis Colts,Indianapolis Colts
2300,01/03/2016,2015,17,False,Kansas City Chiefs,23,17,Oakland Raiders,KC,-6.5,43.5,Arrowhead Stadium,False,32.0,7.0,NaN,NaN,Kansas City Chiefs,Kansas City Chiefs
2301,01/03/2016,2015,17,False,Miami Dolphins,20,10,New England Patriots,NE,-10.0,46.5,Sun Life Stadium,False,78.0,4.0,NaN,NaN,New England Patriots,Miami Dolphins
2302,01/03/2016,2015,17,False,New York Giants,30,35,Philadelphia Eagles,NYG,-3.5,51.0,MetLife Stadium,False,44.0,10.0,NaN,NaN,New York Giants,Philadelphia Eagles
2303,01/03/2016,2015,17,False,San Francisco 49ers,19,16,St. Louis Rams,LAR,-3.0,38.5,Levi's Stadium,False,57.0,0.0,NaN,NaN,St. Louis Rams,San Francisco 49ers

In [6]:
new_df = pd.merge(game_stats, game_data[['Year','Week','Winner/tie','Favorite','spread_favorite','team_home','team_away']],  how='left', on=['Year','Week','Winner/tie'])
new_df

,Week,Date,Winner/tie,Loser/tie,PtsW,PtsL,YdsW,TOW,YdsL,TOL,...,net_ptsl,net_ydsw,net_ydsl,net_tovw,net_tovl,Year,Favorite,spread_favorite,team_home,team_away
0,1,September 6,Indianapolis Colts,New Orleans Saints,41,10,452,1,293,3,...,0,0,0,0,0,2007,Indianapolis Colts,-5.5,Indianapolis Colts,New Orleans Saints
1,1,September 9,Carolina Panthers,St. Louis Rams,27,13,385,2,238,2,...,0,0,0,0,0,2007,St. Louis Rams,-1.0,St. Louis Rams,Carolina Panthers
2,1,September 9,Minnesota Vikings,Atlanta Falcons,24,3,302,1,265,2,...,0,0,0,0,0,2007,Minnesota Vikings,-3.0,Minnesota Vikings,Atlanta Falcons
3,1,September 9,Washington Redskins,Miami Dolphins,16,13,400,2,273,1,...,0,0,0,0,0,2007,Washington Redskins,-3.0,Washington Redskins,Miami Dolphins
4,1,September 9,Denver Broncos,Buffalo Bills,15,14,470,1,184,1,...,0,0,0,0,0,2007,Denver Broncos,-3.0,Buffalo Bills,Denver Broncos
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2299,17,January 3,San Francisco 49ers,St. Louis Rams,19,16,458,1,364,0,...,-47,-1433,-1030,4,-3,2015,St. Louis Rams,-3.0,San Francisco 49ers,St. Louis Rams
2300,17,January 3,Carolina Panthers,Tampa Bay Buccaneers,38,10,366,2,386,3,...,-47,724,548,-19,4,2015,Carolina Panthers,-10.0,Carolina Panthers,Tampa Bay Buccaneers
2301,17,January 3,Seattle Seahawks,Arizona Cardinals,36,6,354,0,232,3,...,206,1268,1508,-4,-12,2015,Arizona Cardinals,-6.0,Arizona Cardinals,Seattle Seahawks
2302,17,January 3,Kansas City Chiefs,Oakland Raiders,23,17,339,2,205,1,...,-34,-104,-325,-15,0,2015,Kansas City Chiefs,-6.5,Kansas City Chiefs,Oakland Raiders
2303,17,January 3,Minnesota Vikings,Green Bay Packers,20,13,242,2,350,2,...,52,-260,-302,-5,-5,2015,Green Bay Packers,-3.0,Green Bay Packers,Minnesota Vikings

In [7]:
power_rank = pd.read_csv('power_ranks.csv')

In [8]:
power_rank

      Unnamed: 0  Rank                  Team  Year  Week
0              0     1  New England Patriots  2007     1
1              1     2    Indianapolis Colts  2007     1
2              2     3    San Diego Chargers  2007     1
3              3     4         Chicago Bears  2007     1
4              4     5      Baltimore Ravens  2007     1
...          ...   ...                   ...   ...   ...
4891        4891    28    San Diego Chargers  2015    17
4892        4892    29        Dallas Cowboys  2015    17
4893        4893    30      Cleveland Browns  2015    17
4894        4894    31   San Francisco 49ers  2015    17
4895        4895    32      Tennessee Titans  2015    17

[4896 rows x 5 columns]

In [9]:
cols = [0]
power_rank.drop(power_rank.columns[cols],axis=1,inplace=True)
power_rank

      Rank                  Team  Year  Week
0        1  New England Patriots  2007     1
1        2    Indianapolis Colts  2007     1
2        3    San Diego Chargers  2007     1
3        4         Chicago Bears  2007     1
4        5      Baltimore Ravens  2007     1
...    ...                   ...   ...   ...
4891    28    San Diego Chargers  2015    17
4892    29        Dallas Cowboys  2015    17
4893    30      Cleveland Browns  2015    17
4894    31   San Francisco 49ers  2015    17
4895    32      Tennessee Titans  2015    17

[4896 rows x 4 columns]

In [10]:
w_power_rank = power_rank.rename(columns={"Team": "Winner/tie","Rank": "w_pwr_rnk"})
w_power_rank

      w_pwr_rnk            Winner/tie  Year  Week
0             1  New England Patriots  2007     1
1             2    Indianapolis Colts  2007     1
2             3    San Diego Chargers  2007     1
3             4         Chicago Bears  2007     1
4             5      Baltimore Ravens  2007     1
...         ...                   ...   ...   ...
4891         28    San Diego Chargers  2015    17
4892         29        Dallas Cowboys  2015    17
4893         30      Cleveland Browns  2015    17
4894         31   San Francisco 49ers  2015    17
4895         32      Tennessee Titans  2015    17

[4896 rows x 4 columns]

In [11]:
l_power_rank = power_rank.rename(columns={"Team": "Loser/tie","Rank": "l_pwr_rnk"})
l_power_rank

      l_pwr_rnk             Loser/tie  Year  Week
0             1  New England Patriots  2007     1
1             2    Indianapolis Colts  2007     1
2             3    San Diego Chargers  2007     1
3             4         Chicago Bears  2007     1
4             5      Baltimore Ravens  2007     1
...         ...                   ...   ...   ...
4891         28    San Diego Chargers  2015    17
4892         29        Dallas Cowboys  2015    17
4893         30      Cleveland Browns  2015    17
4894         31   San Francisco 49ers  2015    17
4895         32      Tennessee Titans  2015    17

[4896 rows x 4 columns]

In [12]:
newer_df = pd.merge(new_df, w_power_rank[['Year','Week','Winner/tie','w_pwr_rnk']],  how='left', on=['Year','Week','Winner/tie'])

In [13]:
newest_df = pd.merge(newer_df, l_power_rank[['Year','Week','Loser/tie','l_pwr_rnk']],  how='left', on=['Year','Week','Loser/tie'])

In [14]:
newest_df

,Week,Date,Winner/tie,Loser/tie,PtsW,PtsL,YdsW,TOW,YdsL,TOL,...,net_ydsl,net_tovw,net_tovl,Year,Favorite,spread_favorite,team_home,team_away,w_pwr_rnk,l_pwr_rnk
0,1,September 6,Indianapolis Colts,New Orleans Saints,41,10,452,1,293,3,...,0,0,0,2007,Indianapolis Colts,-5.5,Indianapolis Colts,New Orleans Saints,2,6
1,1,September 9,Carolina Panthers,St. Louis Rams,27,13,385,2,238,2,...,0,0,0,2007,St. Louis Rams,-1.0,St. Louis Rams,Carolina Panthers,15,17
2,1,September 9,Minnesota Vikings,Atlanta Falcons,24,3,302,1,265,2,...,0,0,0,2007,Minnesota Vikings,-3.0,Minnesota Vikings,Atlanta Falcons,27,31
3,1,September 9,Washington Redskins,Miami Dolphins,16,13,400,2,273,1,...,0,0,0,2007,Washington Redskins,-3.0,Washington Redskins,Miami Dolphins,19,20
4,1,September 9,Denver Broncos,Buffalo Bills,15,14,470,1,184,1,...,0,0,0,2007,Denver Broncos,-3.0,Buffalo Bills,Denver Broncos,9,21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2299,17,January 3,San Francisco 49ers,St. Louis Rams,19,16,458,1,364,0,...,-1030,4,-3,2015,St. Louis Rams,-3.0,San Francisco 49ers,St. Louis Rams,31,17
2300,17,January 3,Carolina Panthers,Tampa Bay Buccaneers,38,10,366,2,386,3,...,548,-19,4,2015,Carolina Panthers,-10.0,Carolina Panthers,Tampa Bay Buccaneers,2,22
2301,17,January 3,Seattle Seahawks,Arizona Cardinals,36,6,354,0,232,3,...,1508,-4,-12,2015,Arizona Cardinals,-6.0,Arizona Cardinals,Seattle Seahawks,10,1
2302,17,January 3,Kansas City Chiefs,Oakland Raiders,23,17,339,2,205,1,...,-325,-15,0,2015,Kansas City Chiefs,-6.5,Kansas City Chiefs,Oakland Raiders,7,13
2303,17,January 3,Minnesota Vikings,Green Bay Packers,20,13,242,2,350,2,...,-302,-5,-5,2015,Green Bay Packers,-3.0,Green Bay Packers,Minnesota Vikings,11,8

In [17]:
test_df = newest_df.head(200)

In [21]:
test_df.drop(['Week','Date','Loser/tie','Year'],axis=1,inplace=True)
test_df

/Users/shawn/opt/anaconda3/envs/PythonAdv/lib/python3.6/site-packages/pandas/core/frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,Winner/tie,PtsW,PtsL,YdsW,TOW,YdsL,TOL,net_ptsw,net_ptsl,net_ydsw,net_ydsl,net_tovw,net_tovl,Favorite,spread_favorite,team_home,team_away,w_pwr_rnk,l_pwr_rnk
0,Indianapolis Colts,41,10,452,1,293,3,0,0,0,0,0,0,Indianapolis Colts,-5.5,Indianapolis Colts,New Orleans Saints,2,6
1,Carolina Panthers,27,13,385,2,238,2,0,0,0,0,0,0,St. Louis Rams,-1.0,St. Louis Rams,Carolina Panthers,15,17
2,Minnesota Vikings,24,3,302,1,265,2,0,0,0,0,0,0,Minnesota Vikings,-3.0,Minnesota Vikings,Atlanta Falcons,27,31
3,Washington Redskins,16,13,400,2,273,1,0,0,0,0,0,0,Washington Redskins,-3.0,Washington Redskins,Miami Dolphins,19,20
4,Denver Broncos,15,14,470,1,184,1,0,0,0,0,0,0,Denver Broncos,-3.0,Buffalo Bills,Denver Broncos,9,21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,San Diego Chargers,23,17,341,3,240,2,52,-9,-315,263,-14,3,San Diego Chargers,-1.0,Tennessee Titans,San Diego Chargers,9,12
196,Cincinnati Bengals,19,10,370,2,241,2,-25,-101,-64,-358,-4,8,Cincinnati Bengals,-10.0,Cincinnati Bengals,St. Louis Rams,25,28
197,Green Bay Packers,38,7,445,1,233,3,101,-26,658,-309,-4,5,Green Bay Packers,-10.0,Green Bay Packers,Oakland Raiders,4,26
198,New York Giants,16,13,318,2,306,1,17,12,347,475,6,9,Philadelphia Eagles,-3.0,Philadelphia Eagles,New York Giants,10,19
199,Dallas Cowboys,28,27,368,1,390,0,147,-44,1044,-538,-7,-5,Dallas Cowboys,-10.5,Detroit Lions,Dallas Cowboys,2,18

In [25]:
test_df = test_df.rename(columns={'Winner/tie':'Winner'})

In [26]:
test_df

,Winner,PtsW,PtsL,YdsW,TOW,YdsL,TOL,net_ptsw,net_ptsl,net_ydsw,net_ydsl,net_tovw,net_tovl,Favorite,spread_favorite,team_home,team_away,w_pwr_rnk,l_pwr_rnk
0,Indianapolis Colts,41,10,452,1,293,3,0,0,0,0,0,0,Indianapolis Colts,-5.5,Indianapolis Colts,New Orleans Saints,2,6
1,Carolina Panthers,27,13,385,2,238,2,0,0,0,0,0,0,St. Louis Rams,-1.0,St. Louis Rams,Carolina Panthers,15,17
2,Minnesota Vikings,24,3,302,1,265,2,0,0,0,0,0,0,Minnesota Vikings,-3.0,Minnesota Vikings,Atlanta Falcons,27,31
3,Washington Redskins,16,13,400,2,273,1,0,0,0,0,0,0,Washington Redskins,-3.0,Washington Redskins,Miami Dolphins,19,20
4,Denver Broncos,15,14,470,1,184,1,0,0,0,0,0,0,Denver Broncos,-3.0,Buffalo Bills,Denver Broncos,9,21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,San Diego Chargers,23,17,341,3,240,2,52,-9,-315,263,-14,3,San Diego Chargers,-1.0,Tennessee Titans,San Diego Chargers,9,12
196,Cincinnati Bengals,19,10,370,2,241,2,-25,-101,-64,-358,-4,8,Cincinnati Bengals,-10.0,Cincinnati Bengals,St. Louis Rams,25,28
197,Green Bay Packers,38,7,445,1,233,3,101,-26,658,-309,-4,5,Green Bay Packers,-10.0,Green Bay Packers,Oakland Raiders,4,26
198,New York Giants,16,13,318,2,306,1,17,12,347,475,6,9,Philadelphia Eagles,-3.0,Philadelphia Eagles,New York Giants,10,19
199,Dallas Cowboys,28,27,368,1,390,0,147,-44,1044,-538,-7,-5,Dallas Cowboys,-10.5,Detroit Lions,Dallas Cowboys,2,18

In [28]:
test_df.loc[test_df.Winner == test_df.team_home,'Winner'] = 2
test_df.loc[test_df.Winner == test_df.team_away,'Winner'] = 1
test_df.head()

,Winner,PtsW,PtsL,YdsW,TOW,YdsL,TOL,net_ptsw,net_ptsl,net_ydsw,net_ydsl,net_tovw,net_tovl,Favorite,spread_favorite,team_home,team_away,w_pwr_rnk,l_pwr_rnk
0,2,41,10,452,1,293,3,0,0,0,0,0,0,Indianapolis Colts,-5.5,Indianapolis Colts,New Orleans Saints,2,6
1,1,27,13,385,2,238,2,0,0,0,0,0,0,St. Louis Rams,-1.0,St. Louis Rams,Carolina Panthers,15,17
2,2,24,3,302,1,265,2,0,0,0,0,0,0,Minnesota Vikings,-3.0,Minnesota Vikings,Atlanta Falcons,27,31
3,2,16,13,400,2,273,1,0,0,0,0,0,0,Washington Redskins,-3.0,Washington Redskins,Miami Dolphins,19,20
4,1,15,14,470,1,184,1,0,0,0,0,0,0,Denver Broncos,-3.0,Buffalo Bills,Denver Broncos,9,21

In [29]:
test_df.loc[test_df.Favorite == test_df.team_home,'Favorite'] = 2
test_df.loc[test_df.Favorite == test_df.team_away,'Favorite'] = 1
test_df.head()

,Winner,PtsW,PtsL,YdsW,TOW,YdsL,TOL,net_ptsw,net_ptsl,net_ydsw,net_ydsl,net_tovw,net_tovl,Favorite,spread_favorite,team_home,team_away,w_pwr_rnk,l_pwr_rnk
0,2,41,10,452,1,293,3,0,0,0,0,0,0,2,-5.5,Indianapolis Colts,New Orleans Saints,2,6
1,1,27,13,385,2,238,2,0,0,0,0,0,0,2,-1.0,St. Louis Rams,Carolina Panthers,15,17
2,2,24,3,302,1,265,2,0,0,0,0,0,0,2,-3.0,Minnesota Vikings,Atlanta Falcons,27,31
3,2,16,13,400,2,273,1,0,0,0,0,0,0,2,-3.0,Washington Redskins,Miami Dolphins,19,20
4,1,15,14,470,1,184,1,0,0,0,0,0,0,1,-3.0,Buffalo Bills,Denver Broncos,9,21

In [30]:
test_final = pd.get_dummies(test_df,prefix=['home_team', 'away_team'],columns=['team_home','team_away'])
test_final.head()

,Winner,PtsW,PtsL,YdsW,TOW,YdsL,TOL,net_ptsw,net_ptsl,net_ydsw,...,away_team_Oakland Raiders,away_team_Philadelphia Eagles,away_team_Pittsburgh Steelers,away_team_San Diego Chargers,away_team_San Francisco 49ers,away_team_Seattle Seahawks,away_team_St. Louis Rams,away_team_Tampa Bay Buccaneers,away_team_Tennessee Titans,away_team_Washington Redskins
0,2,41,10,452,1,293,3,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,27,13,385,2,238,2,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2,24,3,302,1,265,2,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2,16,13,400,2,273,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,15,14,470,1,184,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [31]:
test_final

,Winner,PtsW,PtsL,YdsW,TOW,YdsL,TOL,net_ptsw,net_ptsl,net_ydsw,...,away_team_Oakland Raiders,away_team_Philadelphia Eagles,away_team_Pittsburgh Steelers,away_team_San Diego Chargers,away_team_San Francisco 49ers,away_team_Seattle Seahawks,away_team_St. Louis Rams,away_team_Tampa Bay Buccaneers,away_team_Tennessee Titans,away_team_Washington Redskins
0,2,41,10,452,1,293,3,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,27,13,385,2,238,2,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2,24,3,302,1,265,2,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2,16,13,400,2,273,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,15,14,470,1,184,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,1,23,17,341,3,240,2,52,-9,-315,...,0,0,0,1,0,0,0,0,0,0
196,2,19,10,370,2,241,2,-25,-101,-64,...,0,0,0,0,0,0,1,0,0,0
197,2,38,7,445,1,233,3,101,-26,658,...,1,0,0,0,0,0,0,0,0,0
198,1,16,13,318,2,306,1,17,12,347,...,0,0,0,0,0,0,0,0,0,0
199,1,28,27,368,1,390,0,147,-44,1044,...,0,0,0,0,0,0,0,0,0,0

In [33]:
test_final.columns

Index(['Winner', 'PtsW', 'PtsL', 'YdsW', 'TOW', 'YdsL', 'TOL', 'net_ptsw',
       'net_ptsl', 'net_ydsw', 'net_ydsl', 'net_tovw', 'net_tovl', 'Favorite',
       'spread_favorite', 'w_pwr_rnk', 'l_pwr_rnk',
       'home_team_Arizona Cardinals', 'home_team_Atlanta Falcons',
       'home_team_Baltimore Ravens', 'home_team_Buffalo Bills',
       'home_team_Carolina Panthers', 'home_team_Chicago Bears',
       'home_team_Cincinnati Bengals', 'home_team_Cleveland Browns',
       'home_team_Dallas Cowboys', 'home_team_Denver Broncos',
       'home_team_Detroit Lions', 'home_team_Green Bay Packers',
       'home_team_Houston Texans', 'home_team_Indianapolis Colts',
       'home_team_Jacksonville Jaguars', 'home_team_Kansas City Chiefs',
       'home_team_Miami Dolphins', 'home_team_Minnesota Vikings',
       'home_team_New England Patriots', 'home_team_New Orleans Saints',
       'home_team_New York Giants', 'home_team_New York Jets',
       'home_team_Oakland Raiders', 'home_team_Philadelphia Eagles',
       'home_team_Pittsburgh Steelers', 'home_team_San Diego Chargers',
       'home_team_San Francisco 49ers', 'home_team_Seattle Seahawks',
       'home_team_St. Louis Rams', 'home_team_Tampa Bay Buccaneers',
       'home_team_Tennessee Titans', 'home_team_Washington Redskins',
       'away_team_Arizona Cardinals', 'away_team_Atlanta Falcons',
       'away_team_Baltimore Ravens', 'away_team_Buffalo Bills',
       'away_team_Carolina Panthers', 'away_team_Chicago Bears',
       'away_team_Cincinnati Bengals', 'away_team_Cleveland Browns',
       'away_team_Dallas Cowboys', 'away_team_Denver Broncos',
       'away_team_Detroit Lions', 'away_team_Green Bay Packers',
       'away_team_Houston Texans', 'away_team_Indianapolis Colts',
       'away_team_Jacksonville Jaguars', 'away_team_Kansas City Chiefs',
       'away_team_Miami Dolphins', 'away_team_Minnesota Vikings',
       'away_team_New England Patriots', 'away_team_New Orleans Saints',
       'away_team_New York Giants', 'away_team_New York Jets',
       'away_team_Oakland Raiders', 'away_team_Philadelphia Eagles',
       'away_team_Pittsburgh Steelers', 'away_team_San Diego Chargers',
       'away_team_San Francisco 49ers', 'away_team_Seattle Seahawks',
       'away_team_St. Louis Rams', 'away_team_Tampa Bay Buccaneers',
       'away_team_Tennessee Titans', 'away_team_Washington Redskins'],
      dtype='object')

In [35]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

In [67]:
X = test_final.drop(columns=['Winner'],axis=1)
y = test_final['Winner']
y = y.astype('int')

#Split to test and train 

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.30, random_state = 42)

In [75]:
from sklearn.impute import SimpleImputer 
imputer = SimpleImputer(strategy='mean')
X_train = imputer.fit_transform(X_train)
X_train

array([[ 31.,   6., 373., ...,   0.,   0.,   0.],
       [ 12.,  10., 290., ...,   0.,   0.,   0.],
       [ 20.,  12., 337., ...,   0.,   0.,   1.],
       ...,
       [ 38.,  36., 422., ...,   0.,   1.,   0.],
       [ 17.,  16., 357., ...,   0.,   0.,   0.],
       [ 29.,   7., 384., ...,   0.,   0.,   0.]])

In [79]:
logreg = LogisticRegression()
logreg.fit(X_train,y_train)
score = logreg.score(X_train, y_train)
score2 = logreg.score(X_test, y_test)

print ("Training set accuracy:", '%.3f'%(score))
print ("Test set accuracy:", '%.3f'%(score2))

Training set accuracy: 0.657
Test set accuracy: 0.583

/Users/shawn/opt/anaconda3/envs/PythonAdv/lib/python3.6/site-packages/sklearn/linear_model/_logistic.py:764: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

In [80]:
predictions = logreg.predict(X_test)
print(f"First 10 Predictions:   {predictions[:10]}")
print(f"First 10 Actual labels: {y_test[:10].tolist()}")

First 10 Predictions:   [1 2 1 2 1 1 1 2 2 2]
First 10 Actual labels: [2, 2, 2, 1, 1, 1, 1, 2, 2, 1]

In [102]:
real_winner = y_test.to_list()

In [106]:
for i in range (10):
    print (test_df.iloc[i,15] + ' and ' + test_df.iloc[i,16])
    if predictions[i] == 2:
        print('Predicted Winner: ' + test_df.iloc[i,15])
    else: 
        print('Predicted Winner: ' + test_df.iloc[i,16])
    if real_winner[i] == 2:
        print("actual winner: " + test_df.iloc[i,15])
    else:
        print("actual winner: " + test_df.iloc[i,16])
    print("--------------------------------")

Indianapolis Colts and New Orleans Saints
Predicted Winner: New Orleans Saints
actual winner: Indianapolis Colts
--------------------------------
St. Louis Rams and Carolina Panthers
Predicted Winner: St. Louis Rams
actual winner: St. Louis Rams
--------------------------------
Minnesota Vikings and Atlanta Falcons
Predicted Winner: Atlanta Falcons
actual winner: Minnesota Vikings
--------------------------------
Washington Redskins and Miami Dolphins
Predicted Winner: Washington Redskins
actual winner: Miami Dolphins
--------------------------------
Buffalo Bills and Denver Broncos
Predicted Winner: Denver Broncos
actual winner: Denver Broncos
--------------------------------
Green Bay Packers and Philadelphia Eagles
Predicted Winner: Philadelphia Eagles
actual winner: Philadelphia Eagles
--------------------------------
Cleveland Browns and Pittsburgh Steelers
Predicted Winner: Pittsburgh Steelers
actual winner: Pittsburgh Steelers
--------------------------------
New York Jets and New England Patriots
Predicted Winner: New York Jets
actual winner: New York Jets
--------------------------------
Jacksonville Jaguars and Tennessee Titans
Predicted Winner: Jacksonville Jaguars
actual winner: Jacksonville Jaguars
--------------------------------
Houston Texans and Kansas City Chiefs
Predicted Winner: Houston Texans
actual winner: Kansas City Chiefs
--------------------------------