In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("final_df.csv")
df

,Unnamed: 0,home,point_diff,yard_diff,turn_diff,rank_diff,spread,Win,WinSpread
0,0,1,0,0,0,-4,-5.5,1.0,1.0
1,1,0,0,0,0,4,5.5,0.0,0.0
2,2,1,0,0,0,2,-1.0,0.0,0.0
3,3,0,0,0,0,-2,1.0,1.0,1.0
4,4,1,0,0,0,-4,-3.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...
4603,4603,0,-90,-240,8,9,6.0,1.0,1.0
4604,4604,1,146,221,-15,-6,-6.5,1.0,0.0
4605,4605,0,-146,-221,15,6,6.5,0.0,1.0
4606,4606,1,-4,-42,0,-3,-3.0,0.0,0.0
4607,4607,0,4,42,0,3,3.0,1.0,1.0

In [3]:
cols = [0]
df.drop(df.columns[cols],axis=1,inplace=True)
df

,home,point_diff,yard_diff,turn_diff,rank_diff,spread,Win,WinSpread
0,1,0,0,0,-4,-5.5,1.0,1.0
1,0,0,0,0,4,5.5,0.0,0.0
2,1,0,0,0,2,-1.0,0.0,0.0
3,0,0,0,0,-2,1.0,1.0,1.0
4,1,0,0,0,-4,-3.0,1.0,1.0
...,...,...,...,...,...,...,...,...
4603,0,-90,-240,8,9,6.0,1.0,1.0
4604,1,146,221,-15,-6,-6.5,1.0,0.0
4605,0,-146,-221,15,6,6.5,0.0,1.0
4606,1,-4,-42,0,-3,-3.0,0.0,0.0
4607,0,4,42,0,3,3.0,1.0,1.0

In [4]:
cols = [1, 2]
df.drop(df.columns[cols],axis=1,inplace=True)
df

      home  turn_diff  rank_diff  spread  Win  WinSpread
0        1          0         -4    -5.5  1.0        1.0
1        0          0          4     5.5  0.0        0.0
2        1          0          2    -1.0  0.0        0.0
3        0          0         -2     1.0  1.0        1.0
4        1          0         -4    -3.0  1.0        1.0
...    ...        ...        ...     ...  ...        ...
4603     0          8          9     6.0  1.0        1.0
4604     1        -15         -6    -6.5  1.0        0.0
4605     0         15          6     6.5  0.0        1.0
4606     1          0         -3    -3.0  0.0        0.0
4607     0          0          3     3.0  1.0        1.0

[4608 rows x 6 columns]

In [5]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

In [6]:
X = df.drop(columns=['Win', 'WinSpread'],axis=1)
y = df['Win']
#y = df['WinSpread']
y = y.astype('int')

#Split to test and train 

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.30, random_state = 42)

In [7]:
logreg = LogisticRegression()
logreg.fit(X_train,y_train)
score = logreg.score(X_train, y_train)
score2 = logreg.score(X_test, y_test)

print ("Training set accuracy:", '%.3f'%(score))
print ("Test set accuracy:", '%.3f'%(score2))

Training set accuracy: 0.663
Test set accuracy: 0.671

In [8]:
from sklearn.preprocessing import StandardScaler

# Create a StandardScater model and fit it to the training data
X_scaler = StandardScaler().fit(X_train)

In [9]:
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [10]:
from tensorflow.keras.utils import to_categorical

ModuleNotFoundError: No module named 'tensorflow'

In [ ]:
y_train_categorical = to_categorical(y_train)
y_test_categorical = to_categorical(y_test)

In [ ]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow import keras

deep_model = Sequential()
deep_model.add(Dense(units=10, activation='relu', input_dim=4))
deep_model.add(Dense(units=8, activation='relu'))
deep_model.add(Dense(units=6, activation='relu'))
deep_model.add(Dense(units=4, activation='relu'))
deep_model.add(Dense(units=2, activation='softmax'))

In [ ]:
opt = keras.optimizers.Adam(learning_rate=0.0005)

In [ ]:
deep_model.compile(optimizer=opt,
                   loss='categorical_crossentropy',
                   metrics=['accuracy'])

In [ ]:
deep_model.fit(
    X_train_scaled,
    y_train_categorical,
    epochs=400,
    shuffle=True,
    verbose=2
)

In [ ]:
model_loss, model_accuracy = deep_model.evaluate(
    X_test_scaled, y_test_categorical, verbose=2)
print(f"Deep Neural Network - Loss: {model_loss}, Accuracy: {model_accuracy}")

In [ ]:
#use different optimizer/loss function
#test with different hidden layers
#massive for loop, for optimizer = adam

In [ ]:
#0.687635600566864 epoch 400, learning reate 0.0005, units 10 8 6 4 2
#0.6637744307518005
#0.6832971572875977
#0.6637744307518005
#0.6630513668060303
#0.6695589423179626
#0.6710050702095032
#0.6543745398521423
#0.6623282432556152
#0.6572667956352234

#0.6832971572875977 units 8 6 4 2
#0.6702820062637329
#0.6695589423179626
#0.6724511981010437
#0.6666666865348816

#0.6644974946975708 units 11 8 5 2
#0.6847432851791382
#0.6666666865348816
#0.6746203899383545
#0.6695589423179626